<launch>

  <arg name="planner" default="ompl"/>
  <arg name="path_file" default="demo"/>
  <arg name="repeat" default="true"/>

  <!-- Visualization Specific Nodes -->
  <include file="$(find planner_fluid_visualization)/launch/main.launch">
    <arg name="launch_rosbridge_server" value="true"/>
  </include> 

  <!-- Trajectory Movement Behavior -->
  <group if="$(eval arg('planner') == 'ompl')">
    <include file="$(find ur3e_real_time_motion_playground)/launch/ur3e_moveit.launch">
      <arg name="planner" value="$(arg planner)"/>
    </include>

    <node name="path_reader" pkg="ur3e_real_time_motion_playground" type="path_reader_moveit.py"  output="screen">
      <param name="filepath" value="$(find ur3e_real_time_motion_playground)/paths/$(arg path_file).json"/>
      <param name="repeat" value="$(arg repeat)"/>
    </node>
  </group>

  <group if="$(eval arg('planner') == 'rik' or arg('planner') == 'lik')">
    <include file="$(find ur3e_real_time_motion_playground)/launch/ur3e_rik.launch">
      <arg name="planner" value="$(arg planner)"/>
    </include>

    <node name="path_reader" pkg="ur3e_real_time_motion_playground" type="path_reader_rik.py" output="screen">
      <param name="filepath" value="$(find ur3e_real_time_motion_playground)/paths/$(arg path_file).json"/>
      <param name="repeat" value="$(arg repeat)"/>
      <rosparam param="joint_names">[ "shoulder_pan_joint", "shoulder_lift_joint", "elbow_joint", "wrist_1_joint", "wrist_2_joint", "wrist_3_joint" ]</rosparam>
    </node>
  </group>

  
</launch>
