<launch>

  <arg name="planner" default="ompl"/>
  <arg name="path_file" default="demo"/>
  <arg name="repeat" default="true"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <node name="web_server" pkg="planner_fluid_visualization" type="web_server_start.sh" args='$(find planner_fluid_visualization)' output='screen'/>

  <group if="$(eval arg('planner') == 'ompl')">
    <include file="$(find ur3e_real_time_motion_playground)/launch/ur3e_moveit.launch">
      <arg name="planner" value="$(arg planner)"/>
    </include>

    <node name="path_reader" pkg="ur3e_real_time_motion_playground" type="path_reader_moveit.py"  output="screen">
      <param name="filepath" value="$(find ur3e_real_time_motion_playground)/paths/$(arg path_file).json"/>
      <param name="repeat" value="$(arg repeat)"/>
    </node>
  </group>

  <group if="$(eval arg('planner') == 'rik' or arg('planner') == 'lik')">
    <include file="$(find ur3e_real_time_motion_playground)/launch/ur3e_rik.launch">
      <arg name="planner" value="$(arg planner)"/>
    </include>

    <node name="path_reader" pkg="ur3e_real_time_motion_playground" type="path_reader_rik.py" output="screen">
      <param name="filepath" value="$(find ur3e_real_time_motion_playground)/paths/$(arg path_file).json"/>
      <param name="repeat" value="$(arg repeat)"/>
      <rosparam param="joint_names">[ "shoulder_pan_joint", "shoulder_lift_joint", "elbow_joint", "wrist_1_joint", "wrist_2_joint", "wrist_3_joint" ]</rosparam>
    </node>
  </group>

  <node name="trajectory_visualization_driver" pkg="planner_fluid_visualization" type="trajectory_visualizer.py" output="screen"/>

</launch>
